@import './assets/vendor/css/bootstrap.min.css';

/*color*/
$bg-color : #1e2330;
$green : #b1e319;
$white : #fff;
$orange:#ffa403;
$red : rgb(234, 67, 53);
/*colors*/

/*common styles*/
body{
    font-size:16px;
    color:$white;
    background: $bg-color;
}
.wrapper{
  max-width:1200px;
  margin:0 auto;
  padding:0 15px;
  @media screen and (min-width:1230px){
    padding:0;
  }
}
.heading{    
    text-align: center;
    padding-bottom:25px;
    h2{        
        font-size: 2.8rem;
        color:$white;
        line-height: 60px;
        text-transform: uppercase;
        line-height: normal;
    }
    p{
        color:$white;
        padding-left:6px;
        font-size: 1rem;
    }
    @media screen and (min-width:768px){
        border-left:8px solid $green;
        padding-left:35px;
        text-align: left;
        h2{        
            font-size: 4rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
}
.btn.btn-primary{
    background:$green;
    border:$green;
    border-radius: 0;
    color:$bg-color
}
/*common styles*/

/*login*/
.main{
    padding:40px 0;
    h3{
        margin-bottom:15px;
    }
    .menu{
        border:1px solid $white;
        padding:15px 15px 0;
        text-align: center;   
        min-height: 500px;    
        ul{
            li{
                a{
                    color:$bg-color;
                    background: $green;
                    padding:15px 0;
                    width: 100%;
                    display: block;
                    margin-bottom: 7px;
                    font-weight: 600;
                    &:hover{
                        text-decoration: none;
                        color:$white;
                        background-color: $orange;
                        -webkit-transition: background-color 200ms linear;
                        -ms-transition: background-color 200ms linear;
                        transition: background-color 200ms linear;
                    }
                }
            }
        }
    }
    .order-queue{
        border:1px solid $white;
        padding:15px 15px 0;
        text-align: center;
        min-height: 500px; 
        h4{
            margin-bottom:15px;
        } 
        .received{
            li{
                margin-bottom: 15px;
                .btn{
                    width:100%;
                    color:$bg-color
                }
            }
            .box{
                background: $white;
                border:1px solid $white;                
                h6{
                    background:$red;
                    padding:10px 0;
                    font-size: 1.1em;
                    margin-bottom:0.2em;
                }
                p{
                    margin-bottom:0.2em;
                    color:$bg-color;
                }
            }
            &.prepared{
                .box{
                    h6{
                        background:$orange
                    }
                }
            }
            &.prepared.ready{
                .box{
                    h6{
                        background:$green;
                    }
                }
            }
        }
    }
}
.userform{
    .modal-title{
        color:$bg-color
    }
    .form-group{
        label{
            color:$bg-color;
        }
    }
}